@charset "utf-8";
body,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
input,
select,
button,
textarea,
table,
th,
td,
a,
span,
canvas {
  margin: 0;
  padding: 0;
  background: no-repeat center / contain;
  cursor: default;
}

ul,
ol {
  list-style: none;
}
img {
  border: none;
}
a {
  outline: none;
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
input {
  outline: none;
}
.block {
  display: block;
}
.none {
  display: none;
}
.r {
  position: relative;
}
.a {
  position: absolute;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}


/*规则弹窗*/
#mask-rule,#mask2,
#mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}
#mask .box-rule,#mask2 .box-rule{
  position: relative;
  margin: 35% auto;
  padding-top: 0.7rem;
  width: 84%;
  height: 6.8rem;
  border-radius: 0.26666667rem;
  background-color:#f84034;
}
#mask .box-text {
  width: 100%;
}
#mask .box-text h3{ text-align:center; color:#FFF; font-size:0.6rem; font-weight:normal}
#mask .box-text .div-h4{ text-align:center;width:4rem; padding:0px; margin:0px auto;}
#mask .box-text .div-h4 img{ width:100%; display:block}
#mask .box-text p{ text-align:center; color:#ffff66; font-size:2rem; font-weight:bold;}
#mask .box-text p span{font-size:0.5rem; margin-left:0.1rem}
#mask .box-text b{ display:block; text-align:center;color:#FFF;font-size:0.6rem;}
#mask .box-text a{ display:block;width:80%; line-height:1rem; text-align:center; margin:0.4rem auto 0rem auto; border:2px solid #ffff66; color:#ffff66; font-size:0.6rem}

#mask2 .box-rule{
  position: relative;
  margin: 50% auto;
  padding-top: 0.7rem;
  width: 80%;
  height: 3rem;
}
#mask2 .box-rule p{ text-align:center; color:#ffffff; font-size:0.45rem; font-weight:bold;}
#mask2 .box-rule p span{color:#ffff66;}
#mask2 .box-rule a{ display:block;width:80%; line-height:1rem; text-align:center; margin:0.4rem auto 0rem auto; border:2px solid #ffff66; color:#ffff66; font-size:0.6rem}


#mask-rule .box-rule {
  position: relative;
  margin: 25% auto;
  padding-top: 0.53333333rem;
  width: 90%;
  height:9rem;
  border-radius: 0.26666667rem;
   background-color:#f84034;
}

#mask-rule .box-rule h2 {
  width: 100%;
  text-align: center;
  line-height: 0.45333333rem;
  font-size: 0.45333333rem;
  color: #fff886;
}

#mask-rule #close-rule {
  position: absolute;
  right: 0.45333333rem;
  top: 0.35rem;
  width: 0.8rem;
  height: 0.8rem;
  background-image:url(../image/close.png);
}
/*内容盒子*/
#mask-rule .con {
  overflow: auto;
  position: relative;
  margin: 0.53333333rem auto;
  padding-right: 0.2rem;
  width: 7.73333333rem;
  height: 82%;
  line-height: 0.64rem;
  font-size: 0.34666667rem;
  color: #fff;
}
#mask-rule .con .text {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: auto;
}
